body{
    margin: 5px;
    padding: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.description {
    background-color: rgba(255, 166, 0, 0.066);
    border-style: hidden;
    font-size: x-large;
    padding: 10px;
}
.slogan_logo {
    background: rgb(249, 119, 13);
    display: flex;
    justify-content: space-between;
    justify-content: center;
}

.slogan_logo p{
    display: flex;
    justify-content: right;
    text-align: right;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px;
}

.slogan_logo h1 {
    font-size: 90px;
    display: flex;
}

.slogan_logo img {
    height: 10Opx;
    width: 200px;
    border-radius: 30px;
    padding: 15px;
}
.app-card {
    background: beige;
}

.app-card img {
    height: 350px;
    width: 500px;
    border-radius: 20px;
}

footer {
    background: orangered;
    padding: 10px;
}